body{
    background: #E8C5C5;
    margin-left: 50px;
    margin-right: 100px;
}

header{
    margin-top: 50px;
}

h1{
    color:rgb(37, 37, 172);
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-size: 18px;
}

footer{
    margin-bottom: 30px;
}

}

.img_padrao{
    margin-bottom: 20px;
    width: 400px;
}

.logo{
    width: 40px;
}